[defaults]
inventory = ./inventory/hosts.ini
collections_path = ./collections
roles_path = ./collections/ansible_collections/vast/kubernetes/roles
host_key_checking = False
deprecation_warnings = False
timeout = 30
forks = 10
vault_password_file = ~/.config/vast-kubernetes/vault_pass
stdout_callback = yaml
interpreter_python = /usr/bin/python3

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
