csiDriverName: "{{ csi_driver_name }}"
truncateVolumeName: null
secretName: "{{ vast_secret_name }}"
secretNamespace: "{{ csi_namespace }}"
endpoint: "{{ vms_endpoint }}"
verifySsl: {{ verify_ssl | lower }}
storageClassDefaults:
  volumeNameFormat: "csi:{id}:{namespace}:{name}"
  ephemeralVolumeNameFormat: "eph:{id}:{namespace}:{name}"
storageClasses:
{% for sc_name, sc in storage_classes.items() %}
  {{ sc_name }}:
{%   if sc.vipPoolFQDN is defined %}
    vipPoolFQDN: "{{ sc.vipPoolFQDN }}"
{%     if sc.vipPoolFQDNRandomPrefix | default(false) %}
    vipPoolFQDNRandomPrefix: true
{%     endif %}
{%   else %}
    vipPool: "{{ sc.vipPool }}"
{%   endif %}
    deletionPolicy: "{{ sc.deletionPolicy | default('Delete') }}"
    storagePath: "{{ sc.storagePath }}"
    viewPolicy: "{{ sc.viewPolicy }}"
{% endfor %}
