apiVersion: v1
kind: Config
clusters:
  - name: {{ _cluster_name }}
    cluster:
      server: {{ _api_endpoint }}
      certificate-authority-data: {{ _ca_data }}
users:
  - name: {{ user.name }}
    user:
{% if user.auth == 'token' %}
      token: {{ _token }}
{% else %}
      client-certificate-data: {{ _client_cert }}
      client-key-data: {{ _client_key }}
{% endif %}
contexts:
  - name: {{ user.name }}-ctx
    context:
      cluster: {{ _cluster_name }}
      user: {{ user.name }}
      namespace: {{ user.namespace | default('default') }}
current-context: {{ user.name }}-ctx
